
  
.card:hover{
    transform: scale(1.07);
 box-shadow: 0 40px 40px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
       .card {
   transition: all 0.2s ease;
   cursor: pointer;
}
       .butto{
           size: 0%;
           margin-top: 10%;
           margin-left: -5px;
           position: fixed;
       }


.pfbox{
  margin-left: 10% !important ;
  margin-right: 10%  !important;
  align-items: center;

}

.calign{
  align-self: center !important;
}

       @media only screen and (max-width:414px) and (min-width:359px)
{
 .row{
   padding-left: 0px !important;
   padding-right: 0px !important;
 }
 
.teext{
  margin-top: 15% !important;
  margin-left: 2% !important;
  margin-right: 1% !important;
  align-items: center;
}

.mfbox{
  margin-top: 7% !important;
  margin-left: 3% !important;
  margin-right: 3% !important;
}

 .col{
   padding-left: 0x;
   padding-right: 0px ;
 }



.ftbox{
  margin-left: 10%;
  margin-left: 10%;
}
}